matplotlib==3.10.1
numpy==2.0.2
pandas==2.2.3
plotly==6.0.0
python-dotenv==1.0.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
streamlit==1.42.2
streamlit-authenticator==0.4.2
streamlit-chat==0.1.1
streamlit-extras==0.6.0
seaborn==0.13.2
streamlit-authenticator==0.4.2
yellowbrick==1.5
ccxt==4.5.10